@import "../../../../scss/index.scss";

.navigation {
  .MuiTypography-h4 {
    font-weight: bold;
    color: $font-light;
  }

  ul {
    padding: 0;

    .MuiListItem-gutters {
      padding-left: 0;
    }
  }

  li {
    list-style: none;

    padding-right: 20px;
    a {
      display: flex;
      align-items: center;
      line-height: 2;
      color: $font-grey;
      text-decoration: none;
      &:hover {
        color: $font-light-hover;
      }
    }
  }
}
