$defaultFontSize: 16px;
$primary-color: #16202b;
$primary-color-hover: #1769aa;
$primary-color-light: #4dabf5;

$secondary-color: #155fa0;
$secondary-color-hover: #0e4270;
$secondary-color-light: #437fb3;

$background-error: #ff00001f;

$font-light: #fff;
$font-light-hover: #00bcc3;
$font-grey-light: #e8e8e8;
$font-grey: #c0c0c0;
$font-grey-dark: #000;
$font-dark-light: #252527;
$font-dark: #000;

$success: #84b84c;
$error: #f00;
